.stackbar-cls-1 {
  fill: #767676;
  font-size: 35px;
}

.stackbar-cls-2 {
  letter-spacing: -0.03em;
}

.stackbar-cls-3 {
  letter-spacing: 0em;
}

.stackbar-cls-4 {
  letter-spacing: -0.01em;
}

.stackbar-cls-5 {
  letter-spacing: -0.02em;
}

.stackbar-cls-6 {
  letter-spacing: -0.01em;
}

.stackbar-cls-7 {
  letter-spacing: 0em;
}

.stackbar-cls-8 {
  letter-spacing: -0.01em;
}

.stackbar-cls-9 {
  fill: #eef0f2;
}

.stackbar-cls-10 {
  fill: #8b8b8c;
}

.stackbar-cls-11 {
  fill: #9bc832;
}

.stackbar-cls-12 {
  font-size: 35px;
  fill: #fff;
}

.stackbar-cls-13 {
  fill: #ffb400;
}
